<template>
  <div class="hello">
    <p class="word" v-if="vocabulary.length">{{ currentWordPair.en }}</p>
    <p class="word" v-if="vocabulary.length">{{ currentWordPair.pl }}</p>
    <button v-if="vocabulary.length" v-on:click="utterCurrent">
      Powiedz jeszcze raz
    </button>
    &nbsp;
    <button v-if="vocabulary.length" v-on:click="nextWord">
      Następne słówko
    </button>
    <button v-else v-on:click="loadData">Load</button>
  </div>
</template>

<script>
import Vue from "vue";
import VueResource from "vue-resource";
Vue.use(VueResource);

const dataURL =
  // "https://docs.google.com/spreadsheets/d/e/2PACX-1vR50MhCgpzlXy-RsaFMIscOT9wWRLHNvse2YiKL-leDsvIFuJLrP-Pvx6BdIcNBgYUYHUQ8jqeqyNcq/pub?gid=0&single=true&output=csv";
  "https://docs.google.com/spreadsheets/d/e/2PACX-1vR50MhCgpzlXy-RsaFMIscOT9wWRLHNvse2YiKL-leDsvIFuJLrP-Pvx6BdIcNBgYUYHUQ8jqeqyNcq/pub?gid=0&single=true&output=csv"; // egzamin

export default {
  name: "Pronunciation",
  props: {
    msg: String
  },
  data: function() {
    return {
      vocabulary: [],
      currentWordPair: {},
      currentWordIdx: 0,
      voicePL: null,
      voiceEN: null,
      synth: null
    };
  },
  methods: {
    async loadData() {
      const response = await this.$http.get(dataURL);
      // console.log(response.data.split("\n"));
      this.vocabulary = response.data.split("\n").map(function(el) {
        var pair = el.split(",");
        return { pl: pair[1], en: pair[0] };
      });
      console.log(this.vocabulary);
      while (this.voicePL === null) {
        console.log("sleeping");
        await new Promise(r => setTimeout(r, 3400));
        this.setUpSpeech();
      }
      
      this.nextWord(false);
    },
    nextWord(speak = true) {
      this.currentWordIdx++;
      if (this.currentWordIdx >= this.vocabulary.length) {
        this.currentWordIdx = 0;
      }
      this.currentWordPair = this.vocabulary[this.currentWordIdx];
      if (speak) {
        this.utterCurrent();
      }
    },
    async utterCurrent() {
      var utterEN = new SpeechSynthesisUtterance(this.currentWordPair.en);
      utterEN.voice = this.voiceEN;
      this.synth.speak(utterEN);

      await new Promise(r => setTimeout(r, 1400));

      var utterPL = new SpeechSynthesisUtterance(this.currentWordPair.pl);
      utterPL.voice = this.voicePL;
      console.log(utterPL.voice);
      this.synth.speak(utterPL);
    },
    setUpSpeech() {
    // await new Promise(r => setTimeout(r, 1400));
    this.synth = window.speechSynthesis;
    if (this.synth.getVoices().length == 0) {
      return;
    }
    console.log(this.synth.getVoices());
    this.voiceEN = this.synth
      .getVoices()
      .filter(l => l.lang == "en-GB")
      .pop();
    this.voicePL = this.synth
      .getVoices()
      .filter(l => l.lang == "pl-PL")
      .pop();
    // console.log(this.voicePL);
    // this.loadData();
    }
  },
  mounted: function() {
    this.loadData();
  }
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

p.word {
  margin-bottom: 2em;
  font-size: 36pt;
  font-weight: bold;
}

button {
  font-size: 24pt;
}
</style>
