<template>
  <div id="anglomat">
    <Pronunciation msg="..." />
  </div>
</template>

<script>
import Pronunciation from "./components/Pronunciation.vue";

export default {
  name: "anglomat",
  components: {
    Pronunciation
  }
};
</script>

<style>
#anglomat {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
